html, body {
  margin: 0;
  padding: 0;
}

html {
  background: url(assets/sycip_img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  font-family: "Didot", Times, serif;
}

body {
  /* margin: 250px auto 0 auto;
  width: 80%; */
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 20px;
  text-align: left;
  color: #383733;
}

.wanderlust_description, .beautiful_companions, .matter_over_mind, .moga, .avatar_description, .film, .randomizer_description,
.bw, .PenCilate,{
  padding-left: 80px;
  padding-right: 80px;
}

/* .images2, .images3, .images4,{
  padding-left: 80px;
  padding-right: 80px;
} */
h1 {
  text-align: center;
  font-size: 90px;
  color: #383733;
  font-family: "Didot", Times, serif;
  /* text-shadow: 2px 2px 4px #000000; */
  text-shadow: 2px 2px 4px #363532;
}

h2 {
  text-align: center;
  font-size: 30px;
  font-family: "Didot", Times, serif;
  color: #383733;
}

h3 {
  text-align: center;
  font-size: 16px;
  font-family: "Didot", Times, serif;
  color: #383733;
}

h4 {
  text-align: center;
  font-size: 14px;
  font-family: "Didot", Times, serif;
  color: #383733;
}

.video1, .video2, .images, .link_1, .link_2, .images2, .images3, .images4, .images5, .images6,{
  text#929ead center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}

#a {
  text-align: center;
}

.page0 {
  text-align: center;
  font-size: 30px;
  color: #383733;
  font-family: "Didot", Times, serif;
}

.page1 {
  text-align: center;
  font-size: 30px;
  color: #383733;
  font-family: "Didot", Times, serif;
}

.page2 {
  text-align: center;
  font-size: 30px;
  color: #383733;
  font-family: "Didot", Times, serif;
}

.page3 {
  text-align: center;
  font-size: 30px;
  color: #383733;
  font-family: "Didot", Times, serif;
}

.page4 {
  text-align: center;
  font-size: 30px;
  color: #383733;
  font-family: "Didot", Times, serif;
}

.three {
  text-align: center;
  color: #383733;
}

.two {
  text-align: center;
  color: #383733;
}

canvas {
  display: block;
}

.page0 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
  text-align: center;
}

.page1 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
}

.page2 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
}

.page3 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
}

.page4 {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  height: auto;
}

img {
  max-width: 55%;
  height: auto;
}

.button {
  margin-top: 150px;
  margin-left: 200px;
}

.btn {
  border: 1px solid #929ead;
  padding: 10px 30px;
  color: #929ead;
  text-decoration: none;
  margin-right: 5px;
  font-size: 13px;
  text-transform: uppercase;
  float: left;
}

.btn-one {
  padding: 12px 28px;
  font-family: "Didot", Times, serif;
}

.btn-one:hover {
  color: black;
  background-color: #929ead;
  transition: all 0.5s ease-in;
}

.btn-two {
  padding: 12px 28px;
  font-family: "Didot", Times, serif;
}

.btn-two:hover {
  color: black;
  background-color: #929ead;
  transition: all 0.5s ease-in;
}

.btn-three {
  padding: 12px 28px;
  font-family: "Didot", Times, serif;
}

.btn-three:hover {
  color: black;
  background-color: #929ead;
  transition: all 0.5s ease-in;
}

.btn-four {
  padding: 12px 28px;
  font-family: "Didot", Times, serif;
}

.btn-four:hover {
  color: black;
  background-color: #929ead;
  transition: all 0.5s ease-in;
}

.btn-five {
  padding: 12px 28px;
  font-family: "Didot", Times, serif;
}

.btn-five:hover {
  color: black;
  background-color: #929ead;
  transition: all 0.5s ease-in;
}
