html, body {
  margin: 0;
  padding: 0;
}

html {
  background: url(assets/sycip_img.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

nav {
  font-family: "Didot", Times, serif;

}

body {
  margin: 250px auto 0 auto;
  width: 80%;
  text-align: left;
  color: #383733;
}

h1 {
text-align: center;
font-size: 90px;
color:#383733;
font-family: "Didot", Times, serif;
/* text-shadow: 2px 2px 4px #000000; */
text-shadow: 2px 2px 4px #363532;

}

h2 {
text-align: center;
font-size: 30px;
font-family: "Didot", Times, serif;
color:#383733;

}

h3 {

  text-align: center;
  font-size: 16px;
  font-family: "Didot", Times, serif;
  color:#383733;
}

h4{
  text-align: center;
  font-size: 14px;
  font-family: "Didot", Times, serif;
  color:#383733;

}

video {
  margin-left: 50vw;
  transform: translate(-50%);
}

#a{
  text-align: center;

}

#b{
text-align: center;

}

.page0{
  text-align: center;
  font-size: 30px;
  color:#383733;
  font-family: "Didot", Times, serif;


}

.page1{
  text-align: center;
  font-size: 30px;
  color:#383733;
  font-family: "Didot", Times, serif;

}

.page2{
  text-align: center;
  font-size: 30px;
  color: #383733;
  font-family: "Didot", Times, serif;

}

.page3{
    text-align: center;
    font-size: 30px;
    color: #383733;
    font-family: "Didot", Times, serif;

}

.page4{
  text-align: center;
  font-size: 30px;
  color: #383733;
  font-family: "Didot", Times, serif;

}

.three{
  text-align: center;
  color: #383733;
}

.two{
  text-align: center;
  color: #383733;
}

canvas {
  display: block;
}

.page0{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 600px;
    height: auto;
}

.page1{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 600px;
    height: auto;

}

.page2{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 600px;
    height: auto;

}

.page3{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 600px;
    height: auto;
}

.page4{
  display: block;
  margin-left: auto;
  margin-right: auto;
    width: 600px;
    height: auto;
}

img {
  max-width: 55%;
  height: auto;
}
